<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Chat</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Audio Chat</h1>
        <input type="text" id="roomInput" placeholder="Enter room name" class="input-room" />
        <button id="startButton" class="btn">Start Chat</button>
        <div id="buttons" class="buttons">
            <button id="muteButton" class="btn">Mute</button>
            <button id="stopButton" class="btn">Stop Chat</button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
